*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #E5E5E5;
}

a{
  
  text-decoration: none;
}

.input-group-append  {
  background-color: #1A6493;
}

.input-group-append .fa-search {
  color: white;
}

.input-group-search {
  margin-right: 1rem;
}

.search-filter {
  margin: 2rem 0;
}

.search-filter .filter-icon {
  margin-right: 1rem;
}

.student-profile {
  column-gap: 1rem;
}
.student-profile .avatar-student {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.student-info .student-course {
  /* padding: 0; */
  margin: 0;
}
.student-info .student-school {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0;
}

.student-skills {
  padding-bottom: 1rem;
}
.student-skills span {
  background-color: #688f8b;
  padding: .6rem 1rem;
  border-radius: .6rem;

}

.cta-action-btn-group {
  margin-bottom: 1rem;
}
.cta-action-btn-group .btn {
  color: #E5E5E5;
  background-color: #1A6493;
  border-radius: .5rem;
  
}

.category-dropdown .btn-category {
  padding-right: 8rem;
}




footer {
  background-color: black;
  font-family: 'Nunito', sans-serif;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;

}

.footer-container {
  flex-direction: column;
 text-align: left;
 align-items: center;
  padding: 0 2rem;
}

.footer-container h2 {
  font-weight: 300;
  font-size: 1.9rem;
}
.footer-container a  {
  color: white;
  font-size: 1.2rem;
}


@media screen and (min-width: 1509px) {

  .footer-container {
    text-align: left;
    flex-direction: row;
  }
}