.main-container {
	margin-top: 5rem;
	min-height: 920px;
}

.new-post-text {
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 300;
	color: #1d1d1d;
}

.upload-work-student-btn {
	background-color: #005387;
	color: #ffffff;
}

.upload-work-student-btn:hover {
	background-color: #014068;
	color: #ffffff;
}

form.student-upload-work-form input,
form.student-upload-work-form textarea {
	background-color: #f7f7f7;
	border: 1px solid #d9d9d9;
}

.tag-input-wrapper {
	position: relative;
}

.tag-input-wrapper input {
	padding-left: 2.4rem !important;
}

img.tag-icon {
	position: absolute;
	top: 43px;
	left: 10px;
	width: 18px;
	height: 18px;
}

::placeholder {
	color: #88858593;
	font-size: 0.75rem;
	font-weight: 150;
	font-style: italic;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #88858593;
	font-size: 0.75rem;
	font-weight: 150;
	font-style: italic;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #88858593;
	font-size: 0.75rem;
	font-weight: 150;
	font-style: italic;
}
